body{
    background-color: ffffff;
}

li{
    font-weight: bold;
}

.carousel {
    z-index: 1;
}

.navbar{
    z-index: 2;
}

.menu {
    padding: 10px;        
    background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
} 

.flyers{
    margin-top: 100px;
    margin-left: 130px;    
}