body {
  background-color: #ffffff;
}

.navbar li {
  font-weight: bold;
}

.carousel {
  z-index: 1;
}

.navbar {
  z-index: 2;
}

.menu {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.flyers {
  margin-top: 100px;
  margin-left: 130px;
}

.youtube {
  margin-top: 30px;  
  width: 100%;
  padding: 100px 200px 10px;
  background-color: #ccf2f2;
}

.texto1 h1 {
  padding-top: 40px;  
  text-align: center;
  font-family: "Alegreya Sans";
  color: #003d5b;
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
  line-height: normal;
  letter-spacing: 0%;
  vertical-align: middle;
}

.texto1 p {
  width: 435px;
  height: 269px;
  display: flex;
  justify-content: center;
  color: #231F20;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.menu1 {
  margin-top: 100px;
  margin-left: 180px;
}

.footer {
  margin-top: 100px;  
  width: 100%;
}

.logoFooter {
  margin-left: 40px;  
  color: #ffffff;
}

.footerLogo{
  background-color: #ffffff;
}

.footerInfo {
  margin-top: 30px;
  padding-top: 20px;
  background-color: #66d9d9;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.ayuda{
  padding-left: 200px;
}

.info{
  padding-right: 200px;
}

.footerBottom{
  height: 190px;  
  background-color: #66d9d9;
  border-top-left-radius: 40px;
}

.imgFooterBottom{
  margin-bottom: 16px;
}
